<section>
  <form method="post" action="">
    <label for="idUsername" >Username</label>
    <input [value]="user?.username"
           type="text"
           name="username"
           id="idUsername">
    <br/>
    <label for="idAvatar" >Avatar</label>
    <input name="avatar"
           type="file"
           id="idAvatar">
    <br/>
    <label for="idName">Naam:</label>
    <input name="naam"
           type="text"
           id="idName">
    <br/>
    <button type="submit">Opslaan</button>
  </form>
</section>
