<main>
  <article>
    <section-with-content title="Dit is een test">
      <P>Dit is de inhoud van de component</P>
      <hr>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In minus quaerat quia saepe voluptate. Aliquam
        itaque iure nam odio porro quae tenetur? Ab aut est magnam, provident quis temporibus veritatis.
      </div>
      <div>A architecto assumenda culpa, debitis dolores ducimus, ea est exercitationem explicabo id in incidunt
        inventore ipsa iusto laboriosam maiores minus nihil nostrum obcaecati quaerat quasi sapiente suscipit temporibus
        tenetur voluptate!
      </div>
      <div>Alias blanditiis commodi consequuntur distinctio ducimus ex explicabo, impedit ipsum laboriosam laudantium
        magnam minima, pariatur provident quidem ratione sequi vel! Aut excepturi odio quae totam velit. Eius facere
        laborum mollitia.
      </div>
    </section-with-content>
  </article>
</main>
