

.error {
  color: red;
}


.avatar {
  border-radius: 50%;
  max-height: 60px;
  max-width: 60px;
}

table {
  border-collapse: collapse;

  & tbody {
    & tr {
      box-shadow: 4px 4px 4px #ccc;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }

      & td {
        padding: 10px;
      }
    }
  }

  & tfoot {
    & td:last-child {
      text-align: right;
    }
  }
}
