<section>
  <p>Fibonacci({{ counter() }}) = {{ fibonacciCalculator()  | number:'.0-0':'NL-nl'}}</p>
  <button (click)="decreaseCounter()">-</button>
  <button (click)="increaseCounter()">+</button>
  <button (click)="random()">random</button>
</section>
<section>
  <header>
    <h2>History</h2>
  </header>
  <ol class="height25pc scroller">
    @for (item of history.reverse(); track $index) {
      <li>{{ item.base  }} = {{item.result | number:'.0-0': 'NL-nl'}}</li>
    }
  </ol>
</section>
