<main>
  <aside>
    <nav class="card">
      <button [routerLink]="['/', 'students']">Studenten</button>
      <button>Huiswerk</button>
      <button>Intranet</button>
    </nav>
  </aside>
  <article class="card">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi consequuntur dolore eius
      exercitationem fuga ipsam modi molestiae nihil officiis, omnis praesentium, quibusdam quisquam unde veniam?
      Cupiditate ducimus nulla sapiente?
    </div>
    <div>Ab accusamus debitis enim explicabo, illum labore maxime officia possimus quos saepe sunt ullam veniam. A
      assumenda at magni quasi qui quidem quos? Dolore dolorem doloribus necessitatibus ratione reiciendis tenetur?
    </div>
    <div>At earum expedita quas quia quod, vero voluptatem. Ab aliquid autem culpa deleniti dolore excepturi facilis
      fugiat fugit inventore iste natus non pariatur perferendis quasi quidem, quo suscipit vel voluptas!
    </div>
    <div>Culpa eius exercitationem harum laudantium natus nemo porro provident quia quibusdam? Amet architecto
      aspernatur beatae blanditiis enim excepturi laboriosam maxime, natus necessitatibus, nemo neque perspiciatis
      possimus quidem temporibus velit voluptatem.
    </div>
  </article>
</main>
